:root {
    --mainaccent: #FFD700;
    --headingcolor: teal;
    --text:#f4f4f4;
    --green:#00FF00;
}
body {
    margin: 0;
    background-color: #0c181f;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}
h1, h2, h3 {
 color: var(--headingcolor);   
}
.nav {
    height: 60px;
    background-color: var(--mainaccent);
    width: 100%;
}
.footer {
    height: 100px;
    background-color:var(--green);
    text-align: center;
}
hr {
    margin: 40px 0;
}
main {
    max-width: 1200px;
    margin: auto;
}
#map {
    height: 400px; /* map needs to have height defined in order to render */
    width: 850px;
}
.small-inputs {
    width: 30%;
}
.starmap-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.weathermoon-div {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.lg-card > img {
    width: 300px;
 }
.smallcards-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sm-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
*#star-map {
    filter: contrast(300%);
}

