body {
    background-color: midnightblue;
}

#header-container {
    display: flex;
    justify-content: center;
    padding: 3px;
    border: 3px solid goldenrod;
    border-radius: 15px;
}

#dashboard-title {
    color: goldenrod;
    font-size: 30px;
}

#form-title {
    color: skyblue;
    margin: 30px;
    font-size: 25px;
}

#form-container {
    margin-left: 30px;
}

#search-bar {
    padding: 5px;
}

#get-location-button {
    padding: 5px;
}

#visibility-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 3px;
    justify-content: start;
}

#visibility-title {
    color: skyblue;
}
